@{
    Page.CheckApp = false;
    ViewBag.Title = "新闻列表";
}
@model List<Data.Model.NewsArticle>

<link type="text/css" href="../../manage/Style/InterFace.Css" rel="stylesheet" rev="stylesheet" media="all" />
<link type="text/css" href="../../manage/style.css" rel="stylesheet" rev="stylesheet" media="all" />
<script type="text/javascript" src="../../js/jquery.js"></script>

<script type="text/javascript" src="../../manage/include/common.js"></script>

<script type="text/javascript">



   
    $(function () {

        GetClickTableValue();
        
    })




    var chk_value = [];
    function GetClickTableValue() {  //jquery获取复选框值
       
        $('table tr').not('#td').click(function () {

            //var chk_value = [];
            $('input[name="checkbox"]:checked').each(function () {
                
                chk_value.push($(this).val());
                
            });
           
        });
       //choosechk_value=chk_value;
    }



    function DeleteLot() {
        if (confirm("确定要删除？")) {
           
            url = "/News/DeleteLot";
            parameter = { id: chk_value };
            debugger;
            $.post(url, parameter, function (data) {
                alert("删除成功！");
                window.location = "/News/NewsList?appid=bbbc4652-ab44-4376-a946-c91eb8759d21&tabid=tab_bbbc4652ab444376a946c91eb8759d21";
            });
        }
    }



 

    function Delete(ID) {
        if (confirm("确定要删除？")) {
            url = "/News/Delete";
            parameter = { id: ID };
            $.post(url, parameter, function (data) {
                alert("删除成功！");
                window.location = "/News/NewsList?appid=bbbc4652-ab44-4376-a946-c91eb8759d21&tabid=tab_bbbc4652ab444376a946c91eb8759d21";
            });
        }
    }


   

    </script>
    <body>
        <form id="form1">
            <div id="interface_inside">
                <div id="interface_quick">
                    <div class="interface_quick_left">您现在的操作 >> 新闻资讯</div>
                    <div class="interface_quick_right">

                        <input type="submit" name="del" value="删除" onclick="DeleteLot();">
                        <a href="javascript:void(0)" onclick="javascript:window.location.replace(window.location.href);"><img style="vertical-align:middle;" src="../../manage/images/reload.png" /><strong>刷新</strong></a>
                        &nbsp; &nbsp;
    <a href="javascript:history.back();"><img style="vertical-align:middle;" src="../../manage/images/ico_up1.gif" /><strong>后退</strong></a>
</div>
<div class="clearboth"></div>
</div>
<div id="interface_main">
    <div id="tabs_config" class="tabsbox">

        <div class="clearboth"></div>


        <!-- 模块 -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>

                    <div id="config_basic1" class="tabs_wrapper">
                        <div class="tabs_main" align="left">
                            <div id="PanelConfig">



                                <div id="PanelDefault">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td style="width:5%; "> 选择</td>
                                                <td style="width:10%; "> &nbsp; 分类</td>
                                                <td style="width:45%; ">标题</td>

                                                <td style="width:30%; ">附件</td>
                                                <td style="width:10%; ">发布时间</td>
                                                <td>操作</td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var newslist in @Model)
                                                        {
                                                            <tr>
                                                    <td style="width:5%; "><input type="checkbox" value="@newslist.id" name="checkbox" /></td>
                                                    <td style="width:10%; "><a href="../News">【@newslist.TypeName】 </a></td>
                                                    <td style="width:45%; ">@newslist.NewsTitle</td>

                                                    <td style="width:30%; ">
                                                        <a href="@newslist.FilePath" target="_blank">
                                                            @if (@newslist.FilePath != "")
                                                                        {
                                                                            @newslist.FilePath.Substring(@newslist.FilePath.LastIndexOf('/') + 1, @newslist.FilePath.LastIndexOf('.') - @newslist.FilePath.LastIndexOf('/') - 1)
                                                                        }
                                                        </a>
                                                    </td>
                                                    <td style="width:10%; ">@newslist.AddTime</td>
                                                    <td><input type="submit" onclick="Delete(@newslist.id)" value="删除" /></td>
                                                </tr>
                                                        }

                                        </tbody>

                                    </table>

                                    <table class="table">

                                        <tr>
                                            <td class="page">
                                                <span style="float:left;" id=num></span>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
</tr>
</table>

<br />

</div>

</div>
</div>
</div>
</td>
</tr>
</table>

<!-- 模块 -->

</div>
</div>
</div>
</form>
</body>
